<div id="errors columns row">
  {{#if error }}
  <div class="callout small alert" data-closable>
    <p>Sorry, couldn't find that record. The error was: {{ error }}. Please check and try entering it again.</p>
    <button class="close-button" aria-label="dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if signup.error }}
  <div class="callout small alert" data-closable>
    <p>Something went wrong in registering your details. The error code was: {{ signup.error }}</p>
    <button class="close-button" aria-label="dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if signup.code }}
  <div class="callout small success" data-closable>
    <p>Signup successful! Your code is <strong>{{ signup.code }}</strong>. Use this to make your predictions at <a href="/player/{{ signup.code }}">http://oscars.mantonbradbury.com/player/{{ signup.code }}</a>.<br /> You will also receive a copy of the code by email.</p>
    <button class="close-button" aria-label="dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}
</div>

<header class="small-12 row columns">
  <div>
    <h2>WELCOME TO THE 4<small>TH</small> ANNUAL MY...</h2>
  </div>
</header>